.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    width: 75vh;
}

.card {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.card-title {
    padding: 10px 0 35px 0;
}

.btn {
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #BDAB23;
    color: #F0F7EE;
    font-size: 15px;
    width: 100%;
    border-radius: 15px 5px 15px 5px;
}

.btn:hover, .btn:active:focus {
    background-color: #432818;
    color: #FFFFFD;
}

.p-bold {
    font-weight: bold;
}
