.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    width: 75vh;
}

.card {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}


.btn {
    padding: 10px;
    background-color: #BDAB23;
    color: #F0F7EE;
    font-size: 12px;
    width: 100%;
    border-radius: 15px 5px 15px 5px;
}

.btn:hover, .btn:active:focus {
    background-color: #432818;
    color: #FFFFFD;
}

.messages{
    padding: 0;
    margin: 0;
}

.messages li, .errorlist li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
}

.messages .error, .errorlist li {
    background-color: #FFCDD2;
    color: #D32F2F;
}

.messages .success {
    background-color: #C8E6C9;
    color: #2E7D32;
}