.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

a.nav-link {
    color: #C5B643;
    text-decoration: none;
}

a.nav-link:hover{
    color: #8f6127;
}

.section_img {
    position: relative;
    margin: 20px auto;
}

.section_img img {
    width: 100%;
    max-height: 100vh;
    border-radius: 5px;
}

.section_center_text {
    position: absolute;
    top: 97.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #C5B643;
    padding: 30px 70px 25px 75px;
    border-radius: 5px;
}

.article {
    margin: 70px auto;
    max-width: 1200px;
}
