* {
    font-family: Tahoma, sans-serif;
}

body {
    background-image: url("/static/resources/construction.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.header {
    text-align: center;
    margin-bottom: 20px;
    color: #BDAB23;
}

.header img {
    margin-bottom: 20px;
}

.body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.body a {
    margin: 15px;
    padding: 15px;
    background-color: #BDAB23;
    color: #F0F7EE;
    font-size: 15px;
}

.body a:hover {
    background-color: #432818;
    color: #FFFFFD;
}

.body a:active:focus {
    background-color: #432818;
    color: #FFFFFD;
}
