{% extends "stavMat/base_customer.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'customer_project.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'project_info.css' %}">


{% endblock %}

{% block body %}
    <div class="container section">
        <div class="card">
            <div class="card-body">
                <div class="card-head">
                    <h4 class="card-title">Informácie o materiáloch</h4>
                    <div class="row">
                        <div class="col">
                            <a class="btn" type="submit" href="{% url 'create_material' %}">Pridať materiál</a>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for m in material %}
                    <div class="card">
                        <div class="card-body">
                            <div class="work_align">
                                <div class="col">
                                    <p><span class="p-bold">Názov:</span>  {{ m.nazov }} </p>
                                    <p><span class="p-bold">Kód:</span> {{ m.kod }} </p>
                                </div>
                                <div class="col col-btn">
                                    <a class="btn btn-delete" href="{% url 'delete_material_spec' m.pk%}">Odstrániť</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <style>
        .work_align {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .btn-delete {
            margin: 10px 0 15px 0;
            padding: 10px;
            background-color: #ff1d1d;
            color: #F0F7EE;
            font-size: 12px;
            width: 70%;
            border-radius: 15px 5px 15px 5px;
        }

        .btn-delete:hover, .btn-delete:active:focus {
            background-color: #bd2323;
            color: #FFFFFD;
        }

        .col-btn
        {
            display:flex;
            justify-content: flex-end;
        }


    </style>
{% endblock %}
