{% extends "stavMat/base_customer.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'register_customer.css' %}" rel="stylesheet">
    <link href="{% static 'form_base.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container section">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vytvorenie nového projektu</h4>
                <form action="{% url 'create_project' %}" method="post">{% csrf_token %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="row mb-4">
                        {{ projekt_form.as_p }}
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn" type="submit">Vytvoriť projekt</button>
                            <a class="btn" type="submit" href="{% url 'user_project' %}">Vrátiť sa naspäť</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


